In [8]:
import pandas as pd
import sys
sys.path.append('../src')
import model_training_functions

In [9]:
ohio_bac_dataset = pd.read_csv('../data/processed/ohio_bac_dataset_processed.csv')
ohio_bac_dataset

    Gender_male  Bodyweight_grams  Ethanol_grams    BAC
0             0           59875.2             70  0.100
1             0           58060.8             28  0.030
2             0           49896.0            126  0.190
3             1           87091.2            112  0.120
4             1           78019.2             42  0.040
5             0          113400.0             98  0.095
6             0           56700.0             42  0.070
7             1           79380.0             70  0.060
8             0           79380.0             42  0.020
9             1          124740.0             70  0.050
10            0           58968.0             56  0.070
11            1           76204.8             84  0.100
12            0           58060.8             70  0.085
13            1          111585.6             98  0.090
14            1           74390.4             14  0.010
15            1           79380.0             56  0.050

In [10]:
model_training_functions.results(ohio_bac_dataset, ['Ethanol_grams'])

Features: ['Ethanol_grams']
Mean Squared Error: 0.0003436881774080768
R2 score: 0.7789342376470662

In [11]:
model_training_functions.results(ohio_bac_dataset, ['Ethanol_grams', 'Gender_male'])

Features: ['Ethanol_grams', 'Gender_male']
Mean Squared Error: 0.0006008613006877596
R2 score: 0.6135163493063658

In [12]:
model_training_functions.results(ohio_bac_dataset, ['Ethanol_grams', 'Bodyweight_grams'])

Features: ['Ethanol_grams', 'Bodyweight_grams']
Mean Squared Error: 8.118777030258873e-05
R2 score: 0.9477787206093902